<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamestak</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/dist/gamestak.module.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
