**/.DS_Store
.idea
obj
bin
node_modules
.vs/

yarn-error.log

# Remove the line below when the project is done so I can actually push the compiled code
src/Gamestak/wwwroot/dist
src/gamestak-client/dist