@import 'util/styles/gamestak-bootstrap';

// Testing color swatches
.gs-white {
  background-color: $white !important;
}
.gs-gray-100 {
  background-color: $gray-100 !important;
}
.gs-gray-200 {
  background-color: $gray-200 !important;
}
.gs-gray-300 {
  background-color: $gray-300 !important;
}
.gs-gray-400 {
  background-color: $gray-400 !important;
}
.gs-gray-500 {
  background-color: $gray-500 !important;
}
.gs-gray-600 {
  background-color: $gray-600 !important;
}
.gs-gray-700 {
  background-color: $gray-700 !important;
}
.gs-gray-800 {
  background-color: $gray-800 !important;
}
.gs-gray-900 {
  background-color: $gray-900 !important;
}
.gs-black {
  background-color: $black !important;
}
.gs-blue {
  background-color: $blue !important;
}
.gs-indigo {
  background-color: $indigo !important;
}
.gs-purple {
  background-color: $purple !important;
}
.gs-pink {
  background-color: $pink !important;
}
.gs-red {
  background-color: $red !important;
}
.gs-orange {
  background-color: $orange !important;
}
.gs-yellow {
  background-color: $yellow !important;
}
.gs-green {
  background-color: $green !important;
}
.gs-teal {
  background-color: $teal !important;
}
.gs-cyan {
  background-color: $cyan !important;
}
